<h1> List of photos </h1>

<form action="/insert_photo_record">
  <label for"image_id">Image</label>
  <input id="image_id" type="text" placeholder="Enter a URL for the image..." name="image_input">
  <label for"caption_id">Caption</label>
  <input id="caption_id" type="text" placeholder="Enter caption" name="caption_input">
  <label for"owner_id">Owner ID</label>
  <input id="owner_id" type="text" placeholder="Enter ID of user" name="owner_id_input">
  <button>Add photo </button>
</form>

<hr>

<table border="1" >
<tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
<% @list_of_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%=a_photo.image%>">
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= a_photo.poster.username %>
    </td>

    <td>
      <%= a_photo.created_at %>
    </td>

    <td>
      <a href="/photos/<%= a_photo.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
